@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	color: black;
	/* Push to bottom */
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100vh;
}

.container {
	max-width: 100%;
	margin: 0 auto;
	overflow: auto;
}
.counter-box-1{
    color: white;
    background-color: #8007e6;
    padding: 15px 0px;
    border-radius: 25px;
}
.counter-box-2{
    color: white;
    background-color: coral;
    padding: 15px 0px;
    border-radius: 25px;
}
.counter-box-3{
    color: white;
    background-color: #2a9d8f;
    padding: 15px 0px;
    border-radius: 25px;
}
.counter-box-4{
    color: white;
    background-color: darkblue;
    padding: 15px 0px;
    border-radius: 25px;
}

.counters {
	color: black;
	padding: 40px 20px;
    margin: auto 35px;
}
.counters h1 {
	font-size: 55px;
    text-align: center;
    margin-bottom: 15px;
}

.counters .container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	text-align: center;
}

.counters i {
	color: white;
	margin-bottom: 5px;
}

.counters .counter {
	font-size: 45px;
	margin: 10px 0;
}

@media (max-width: 700px) {
	.counters .container {
		grid-template-columns: repeat(2, 1fr);
	}

	.counters .container > div:nth-of-type(1),
	.counters .container > div:nth-of-type(2) {
		padding-bottom: 20px;
	}
}
